<%-include('partials/head')%>
<style>
	.container{
		width: 650px;
		height: 450px;
	}
</style>
<body>
	<%-include('partials/navbar')%>
	<form action="/project" method="post">
		<div class="container">
			<h1>new</h1>
			<div class="input-group flex-nowrap">
				<input type="text" name="proj_name" id="project_name" class="form-control" placeholder="name of new project..." aria-label="Username" aria-describedby="addon-wrapping">
				<button type="submit" class="btn btn-outline-success">okay</button>
			</div>
		</div>
	</form>

</body>